html {
  background-image: url("/static/geometry.jpg");
}

body {
  background-color: #14171782; 
  margin-top: 10rem;
}

.title, .label, .input-is-primary {
  color: white;
}

.input-is-primary {
  background-color: #25212200;
}

.is-light {
  background-color: rgb(0, 63, 56); 
  color: rgb(100, 255, 232);
}