<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Circle Area</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <section class="section">
    <div class="container">

      <h1 class="title">
        Circle area is πr² !!
      </h1>

      <form action=" send" method="POST">
        <div class="field">
          <label class="label">Please enter a radius</label>
          <input class="input is-primary" type="text" value="{{number}}" placeholder="only positive numbers please"
            name="radius">
        </div>

        <div class="control">
          <button class="button is-primary">Calculate</button>
        </div>

        <br />
        <div class="notification is-primary is-light">
          {{ result }}
        </div>
      </form>
    </div>
  </section>
</body>

</html>